* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: #f7f7f7;
    background-image: url(../asset/BG/line/bg-white.png);
    background-size: cover;
}


/* HEADER */

.header {
    width: 100%;
    position: relative;
}

nav {
    display: flex;
    padding: 10px 50px;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffffab;
}

nav img {
    width: 350px;
}


/* LOGIN/LOGOUT */

.login-btn {
    padding: 5px 18px;
    margin-right: 10px;
    background-color: transparent;
    border: 2px #4864e1 solid;
    color: #4864e1;
    padding: 5px 18px;
    text-align: center;
    border-radius: 50px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #4864e1;
    border-color: #4864e1;
    outline-color: #4864e1;
    color: #ededed;
    transition: 1s;
}

.sign-btn {
    background-color: transparent;
    border: 2px #4864e1 solid;
    color: #4864e1;
    padding: 5px 18px;
    text-align: center;
    border-radius: 50px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.sign-btn:hover {
    background-color: #c1c1c1;
    outline-color: #4864e1;
    color: #4864e1;
    transition: 1s;
}



/* NAVIGATION */

.nav-links {
    padding: 0 50px;
    text-align: left;
    background-color: #ededed;
}


.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 5px 15px;
    position: relative;
    transition: .7s ease;
    cursor: pointer;
}

.nav-links ul li:hover {
    background-color: #31449987;
}

.nav-links ul li a {
    color: #4864e1;
    text-decoration: none;
    font: 12px;
    font-weight: bold;
    transition: .7 ease;
}

.nav-links ul li a:hover {
    color: #ededed;
}


.link::after {
    content: '';
    width: 100%;
    height: 3px;
    background-color: #ededed;
    border-radius: 5px;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform .7s ease;
}


.link:hover::after {
    transform: scaleX(1);
}


.dropdown-menu {
    display: none;
    position: absolute;
    z-index: 1000;
    left: 0%;
    top: 100%;
    background-color: #ededed;
    
}

.nav-links ul li:hover .dropdown-menu {
    display: block;
}    


.dropdown-menu ul {
    display: block;
    margin: 5px;
}

.dropdown-menu ul li {
    width: 150px;
    padding: 5px 15px;
    cursor: pointer;
}

.dropdown-menu li::after {
    content: '';
    width: 100%;
    height: 3px;
    background-color: #ededed;
    border-radius: 5px;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform .7s ease;
}

.dropdown-menu li:hover::after {
    transform: scaleX(1);
}


/* WELCOME USER */

#welcome-user {
    margin: 0 auto;
    width: 400px;
    padding: 5px;
    font-size: 20px;
    background-color: #31449987;
    border-radius: 50px;
    text-align: center;
    text-transform: uppercase;
    color: #ededed;
    z-index: 1000;
}


/* DIFFICULTY SECTION */

.difficulty {
    width: 80%;
    margin: auto;
    text-align: center;
}


.diff-row {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}


h1 {
    font-size: 40px;
    font-weight: 700;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    padding: 10px;
}


.diff-col {
    margin: auto;
    flex-basis: 30%;
    background: #e1e1e1;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 40px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

h3 {
    text-align: center;
    font-weight: 700;
    margin: 10px 0;
}

.diff-col:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}




/* BUTTON */

.olahraga-btn {
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #ededed;
    background-color: #4864e1;
    border: none;
    border-radius: 50px;
    margin-top: 10px;
    padding: 0 20px;
    box-shadow: 0 0 12px #4864e1;
    transition: 0.5s;
}


.olahraga-btn:hover {
    background-color: #e1e1e1;
    color: #4864e1;
}


.edit-btn {
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #ededed;
    background-color: #8848e1;
    border: none;
    border-radius: 50px;
    margin-top: 20px;
    padding: 0 20px;
    box-shadow: 0 0 12px #8848e1;
    transition: 0.5s;
}


.edit-btn:hover {
    background-color: #e1e1e1;
    color: #8848e1;
}


.delete-btn {
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #ededed;
    background-color: #e14848;
    border: none;
    border-radius: 50px;
    margin-top: 20px;
    padding: 0 20px;
    box-shadow: 0 0 12px #e14848;
    transition: 0.5s;
}


.delete-btn:hover {
    background-color: #e1e1e1;
    color: #e14848;
}



/* ========== INSTRUKTUR =========== */

.instruktur {
    width: 80%;
    margin: auto;
    text-align: center;
}

.instruktur-title {
    margin-bottom: 10px;
}

.instruktur-row {
    width: 55%;
    margin: auto;
    display: flex;
    justify-content: space-between;

}

.instruktur-col {
    flex-basis: 20%;
    margin-bottom: 5%;
    padding: 5px 20px;
    background: #e1e1e1;
    border-radius: 10px;
    margin-bottom: 5%;
    position: relative;
    overflow: hidden;
    place-content: center;
    transition: transform 0.7s;
}

.instruktur-col h3 {
    margin-bottom: 50px;
}

.instruktur-col img {
    display: block;
    border: none;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 20px;
}

.instruktur-col:hover {
    transform: scale(1.02);
}


.instruktur-btn {
    margin-bottom: 10px;
}

.instruktur-btn a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    background-color: #c0c0c0;
    color: black;
    border: none;
    border-radius: 50px;
    margin: auto;
    padding: 0 20px;
    transition: 0.5s;
}

.instruktur-btn a:hover {
    background-color: #4864e1;
    color: #ededed;
    box-shadow: 0 0 12px 2px #4864e1;
}



/* ========== FOOTER =========== */
.footer {
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: #ffffffab;
}

.footer h5 {
    color: #4864e1;
    padding-right: 40px;
    padding: 20px 20px;
    font-size: 12pt;
    text-align: right;
}